{% extends "maqueta.html" %}
{% load static from staticfiles %}



{% block login %}
{% if user.is_authenticated %}

<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Servicios</a>
    <a href="{% url 'gestionUsuario' %}">Contactanos</a>
    <a href="{% url 'salir' %}">Cerrar Sesion</a>
</nav> 
{% else %}

<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Servicios</a>
    <a href="{% url 'gestionUsuario' %}">Contactanos</a>
</nav> 
{% endif %}

<div class="iniciar">
        <form method="post">
                {% csrf_token %}
                {{form}}
               <button type="submit">Ingresar</button>
        </form>
        <a href="{% url 'password_reset' %}">Olvide Mi Contraseña</a><br>
        <a href="{% url 'social:begin' 'github' %}">Login Con GitHub</a><br>
</div>
{% endblock %}


