{% extends "maqueta.html" %}

{% block form_contraseña %}
{% if user.is_authenticated %}

<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Servicios</a>
    <a href="{% url 'gestionCliente' %}">Contactanos</a>
    <a href="{% url 'salir' %}">Cerrar Sesion</a>
</nav> 
{% else %}

<nav>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Servicios</a>
    <a href="{% url 'gestionCliente' %}">Contactanos</a>
</nav> 
{% endif %}
<div class="FormContraseña">
    <p>Ingrese su corre electronico y le enviaremos las instrucciones 
    para recuperar su contraseña</p>

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <diV class="form_group">
                {{ form.non_field_errors }}
            </diV>
        {% endif %}

    {% for field in form.visible_fields%}
            <div class="form_group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                <div class="helptext">
                    {{ field.help_text|safe }}      
                </div>

            </div>
    {% endfor %}
        <button type="submit" class="btn_recuperar" >
            Recuperar Contraseña
        </button>       
    </form>

</div>
{% endblock %}